<div class="row clearfix">
  <div class="card">

    <div class="header bg-teal">
      <h2>ALL Vehicle</h2>
      <ul class="header-dropdown m-r--5">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_vert</i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">Add Vehicle</a>
            </li>
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">Delete Slected</a>
            </li>
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">View Full Details</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- End Of header bg-teal -->
    <div class="body">

      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div *ngIf="issuccess" class="alert alert-success">
            <strong>Well done!</strong> {{successmsg}}
          </div>

          <div *ngIf="iserror" class="alert alert-danger">
            <strong>Ooops!</strong> {{errormsg}}
          </div>
        </div>
      </div>
      <!-- End Of Message Area -->

      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="body color-datagrid-back">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover dashboard-task-infos">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th></th>
                      <th>Customer</th>
                      <th>VehicleName</th>
                      <th>CreditLimit</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="holdvar">
                    <tr *ngFor="let item of holdvar;  let i = index" (click)="setClickedRow(item,i)" [class.active]="i == selectedRow">
                      <td>{{item.Id}}</td>
                      <td>{{item.CreditCusId}}</td>
                      <td>{{item.VehicleName}}</td>
                      <td>{{item.CreditLimit}}</td>
                      <td>{{item.Outstanding}}</td>
                      <td>
                        <a class="btn  btn-xs btn-danger waves-effect" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageDelete"
                          [confirmText]="confirmText" [cancelText]="cancelText" [placement]="top" (confirm)="deleteConfirm(item)"
                          (cancel)="deleteCancel()" confirmButtonType="danger" cancelButtonType="default" [appendToBody]="true">
                          X </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Of table area -->
    </div>
    <!-- End Of body -->

    <div class="card">
      <div class="body">

        <form id="form_advanced_validation" [formGroup]="myform" (onSubmit)="onSubmit(myform,$event,'Insert')">
          <div class="row clearfix">
            <input type="text" formControlName="Id" [ngModel]="selectedItem.Id" style="display:none">


            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <label for="CreditCusId">CreditCusId</label>
              <!-- <div class="form-group" [ngClass]="displayFieldCss('CreditCusId')">
                <div class="form-line">
                  <input type="text" id="ID_CreditCusId" formControlName="CreditCusId" [ngModel]="selectedItem.CreditCusId" class="form-control"
                    placeholder="CreditCusId" [ngClass]="displayFieldCss('CreditCusId')">
                </div>
              </div> -->
              <select class="form-control show-tick" formControlName="CreditCusId" id="xxx" *ngIf="customers" [ngModel]="selectedItem.CreditCusId">
                <option  *ngFor="let cus of customers"   [value]="cus.Id">{{cus.CustomerName}}</option>
              </select>


            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <label for="CreditLimit">CreditLimit</label>
              <div class="form-group" [ngClass]="displayFieldCss('CreditLimit')">
                <div class="form-line">
                  <input type="text" id="ID_CreditLimit" formControlName="CreditLimit" [ngModel]="selectedItem.CreditLimit" class="form-control"
                    placeholder="CreditLimit" [ngClass]="displayFieldCss('CreditLimit')">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <label for="ChequeLimit">ChequeLimit</label>
              <div class="form-group" [ngClass]="displayFieldCss('ChequeLimit')">
                <div class="form-line">
                  <input type="text" id="ID_ChequeLimit" formControlName="ChequeLimit" [ngModel]="selectedItem.ChequeLimit" class="form-control"
                    placeholder="ChequeLimit" [ngClass]="displayFieldCss('ChequeLimit')">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <label for="Outstanding">Outstanding</label>
              <div class="form-group" [ngClass]="displayFieldCss('Outstanding')">
                <div class="form-line">
                  <input type="text" id="ID_Outstanding" formControlName="Outstanding" [ngModel]="selectedItem.Outstanding" class="form-control"
                    placeholder="Outstanding" [ngClass]="displayFieldCss('Outstanding')">
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <label for="RegistrationNo">RegistrationNo</label>
              <div class="form-group" [ngClass]="displayFieldCss('RegistrationNo')">
                <div class="form-line">
                  <input type="text" id="ID_RegistrationNo" formControlName="RegistrationNo" [ngModel]="selectedItem.RegistrationNo" class="form-control"
                    placeholder="RegistrationNo" [ngClass]="displayFieldCss('RegistrationNo')">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <label for="VehicleName">VehicleName</label>
              <div class="form-group" [ngClass]="displayFieldCss('VehicleName')">
                <div class="form-line">
                  <input type="text" id="ID_VehicleName" formControlName="VehicleName" [ngModel]="selectedItem.VehicleName" class="form-control"
                    placeholder="VehicleName" [ngClass]="displayFieldCss('VehicleName')">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <label for="EngineNo">EngineNo</label>
              <div class="form-group" [ngClass]="displayFieldCss('EngineNo')">
                <div class="form-line">
                  <input type="text" id="ID_EngineNo" formControlName="EngineNo" [ngModel]="selectedItem.EngineNo" class="form-control" placeholder="EngineNo"
                    [ngClass]="displayFieldCss('EngineNo')">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <label for="ChassesNo">ChassesNo</label>
              <div class="form-group" [ngClass]="displayFieldCss('ChassesNo')">
                <div class="form-line">
                  <input type="text" id="ID_ChassesNo" formControlName="ChassesNo" [ngModel]="selectedItem.ChassesNo" class="form-control"
                    placeholder="ChassesNo" [ngClass]="displayFieldCss('ChassesNo')">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <label for="VehicleType">VehicleType</label>
              <div class="form-group" [ngClass]="displayFieldCss('VehicleType')">
                <div class="form-line">
                  <input type="text" id="ID_VehicleType" formControlName="VehicleType" [ngModel]="selectedItem.VehicleType" class="form-control"
                    placeholder="VehicleType" [ngClass]="displayFieldCss('VehicleType')">
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <label for="Make">Make</label>
              <div class="form-group" [ngClass]="displayFieldCss('Make')">
                <div class="form-line">
                  <input type="text" id="ID_Make" formControlName="Make" [ngModel]="selectedItem.Make" class="form-control" placeholder="Make"
                    [ngClass]="displayFieldCss('Make')">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <label for="Model">Model</label>
              <div class="form-group" [ngClass]="displayFieldCss('Model')">
                <div class="form-line">
                  <input type="text" id="ID_Model" formControlName="Model" [ngModel]="selectedItem.Model" class="form-control" placeholder="Model"
                    [ngClass]="displayFieldCss('Model')">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <label for="EngineCapacity">EngineCapacity</label>
              <div class="form-group" [ngClass]="displayFieldCss('EngineCapacity')">
                <div class="form-line">
                  <input type="text" id="ID_EngineCapacity" formControlName="EngineCapacity" [ngModel]="selectedItem.EngineCapacity" class="form-control"
                    placeholder="EngineCapacity" [ngClass]="displayFieldCss('EngineCapacity')">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <label for="Weight">Weight</label>
              <div class="form-group" [ngClass]="displayFieldCss('Weight')">
                <div class="form-line">
                  <input type="text" id="ID_Weight" formControlName="Weight" [ngModel]="selectedItem.Weight" class="form-control" placeholder="Weight"
                    [ngClass]="displayFieldCss('Weight')">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
              <label for="Remark">Remark</label>
              <div class="form-group" [ngClass]="displayFieldCss('Remark')">
                <div class="form-line">
                  <input type="text" id="ID_Remark" formControlName="Remark" [ngModel]="selectedItem.Remark" class="form-control" placeholder="Remark"
                    [ngClass]="displayFieldCss('Remark')">
                </div>
              </div>
            </div>



            <!-- End Of CRUD row clearfix -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <button [disabled]="!myform.valid" class="btn btn-primary" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageSave"
                [confirmText]="confirmText" [cancelText]="cancelText" [placement]="bottom" (confirm)="SaveConfirm()" (cancel)="SaveCancel()"
                confirmButtonType="info" cancelButtonType="default" (click)="onSubmit(myform,$event,'Insert')" [appendToBody]="true">
                Insert {{ placement }}
              </button>
              <button [disabled]="!myform.valid" class="btn btn-primary" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageUpdate"
                [confirmText]="confirmText" [cancelText]="cancelText" [placement]="bottom" (confirm)="UpdateConfirm()" (cancel)="UpdateCancel()"
                confirmButtonType="warning" cancelButtonType="default" (click)="onSubmit(myform,$event,'Update')" [appendToBody]="true">
                Update {{ placement }}
              </button>
            </div>
          </div>
        </form>
        <!-- End Of CRUD Form -->

        </div>
        <!-- End Of CRUD Body area -->
      </div>
      <!-- End Of CRUD area -->

    </div>
    <!-- End Of Main Card -->
  </div>
  <!-- End Of Main Row ClearFix -->
