<div class="row clearfix">
  <div class="card">
    <div class="header bg-teal">
      <h2>COMPANY DETAILS</h2>
      <ul class="header-dropdown m-r--5">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_vert</i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">Add Fuel Type</a>
            </li>
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">Delete Slected</a>
            </li>
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">View Full Details</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="body">


      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div *ngIf="issuccess" class="alert alert-success">
            <strong>Well done!</strong> {{successmsg}}
          </div>

          <div *ngIf="iserror" class="alert alert-danger">
            <strong>Ooops!</strong> {{errormsg}}
          </div>
        </div>
      </div>

      <div class="row clearfix">

        <!-- Task Info -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="body">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover dashboard-task-infos">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Company Code</th>
                      <th>Corparate Name</th>
                      <th>Telephone</th>
                      <th>Fax</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="holdvar">
                    <tr *ngFor="let item of holdvar;  let i = index" (click)="setClickedRow(item,i)" [class.active]="i == selectedRow">
                      <td>{{item.Id}}</td>
                      <td>{{item.CompanyCode}}</td>
                      <td>{{item.CompanyName}}</td>
                      <td>{{item.Telephone}}</td>
                      <td>{{item.FaxNo}}</td>
                      <td>
                        <a class="btn  btn-xs btn-danger waves-effect" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageDelete"
                          [confirmText]="confirmText" [cancelText]="cancelText" [placement]="top" (confirm)="deleteConfirm(item)"
                          (cancel)="deleteCancel()" confirmButtonType="danger" cancelButtonType="default" [appendToBody]="true">
                          X </a>
                      </td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="card">
        <div class="body">
          <form id="form_advanced_validation" [formGroup]="myform" (onSubmit)="onSubmit(myform,$event,'Insert')">
            <div class="row clearfix">


              <input type="text" formControlName="Id" [ngModel]="selectedItem.Id" style="display:none">

              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <label for="CompanyCode">Company Code</label>
                <div class="form-group" [ngClass]="displayFieldCss('CompanyCode')">
                  <div class="form-line">
                    <input type="text"  id="ID_CompanyCode" formControlName="CompanyCode" [ngModel]="selectedItem.CompanyCode" class="form-control"
                      placeholder="Company Code " [ngClass]="displayFieldCss('CompanyCode')">
                  </div>
                  <div>
                    <control-messages [control]="myform.controls.CompanyName"></control-messages>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <label for="CompanyName">Company Name </label>
                <div class="form-group" [ngClass]="displayFieldCss('CompanyName')">
                  <div class="form-line">
                    <input type="text"  id="ID_CompanyName" formControlName="CompanyName" [ngModel]="selectedItem.CompanyName" class="form-control"
                      placeholder="Company Name " [ngClass]="displayFieldCss('CompanyName')">
                  </div>
                  <div>
                    <control-messages [control]="myform.controls.CompanyName"></control-messages>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <label for="Address1">Street No/name </label>
                <div class="form-group" [ngClass]="displayFieldCss('Address1')">
                  <div class="form-line">
                    <input type="text"  id="ID_Address1" formControlName="Address1" [ngModel]="selectedItem.Address1" class="form-control"
                      placeholder="Street No/name " [ngClass]="displayFieldCss('Address1')">
                  </div>
                  <div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <!-- City area/District -->
                <label for="Address2">Town</label>
                <div class="form-group" [ngClass]="displayFieldCss('Address2')">
                  <div class="form-line">
                    <input type="text"  id="ID_Address2" formControlName="Address2" [ngModel]="selectedItem.Address2" class="form-control"
                      placeholder="Town" [ngClass]="displayFieldCss('Address2')">
                  </div>
                  <div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <label for="Address3">Postcode/District</label>
                <div class="form-group" [ngClass]="displayFieldCss('Address3')">
                  <div class="form-line">
                    <input type="text"  id="ID_Address3" formControlName="Address3" [ngModel]="selectedItem.Address3" class="form-control"
                      placeholder="Postcode/District" [ngClass]="displayFieldCss('Address3')">
                  </div>
                  <div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <label for="Telephone">Telephone </label>
                <div class="form-group" [ngClass]="displayFieldCss('Telephone')">
                  <div class="form-line">
                    <input type="text"  id="ID_Telephone" formControlName="Telephone" [ngModel]="selectedItem.Telephone" class="form-control"
                      placeholder="Telephone" [ngClass]="displayFieldCss('Telephone')">
                  </div>
                  <div>
                  </div>
                </div>
              </div>


              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <label for="FaxNo">FaxNo</label>
                <div class="form-group" [ngClass]="displayFieldCss('FaxNo')">
                  <div class="form-line">
                    <input type="text"  id="ID_FaxNo" formControlName="FaxNo" [ngModel]="selectedItem.FaxNo" class="form-control" placeholder="FaxNo "
                      [ngClass]="displayFieldCss('FaxNo')">
                  </div>
                  <div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <label for="Email">Email </label>
                <div class="form-group" [ngClass]="displayFieldCss('Email')">
                  <div class="form-line">
                    <input type="text"  id="ID_Email" formControlName="Email" [ngModel]="selectedItem.Email" class="form-control" placeholder="Email "
                      [ngClass]="displayFieldCss('Email')">
                  </div>
                  <div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <label for="WebAddress">Web Address </label>
                <div class="form-group" [ngClass]="displayFieldCss('WebAddress')">
                  <div class="form-line">
                    <input type="text"  id="ID_WebAddress" formControlName="WebAddress" [ngModel]="selectedItem.WebAddress" class="form-control"
                      placeholder="Web Address " [ngClass]="displayFieldCss('WebAddress')">
                  </div>
                  <div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <label for="ContactPerson">Contact Person </label>
                <div class="form-group" [ngClass]="displayFieldCss('ContactPerson')">
                  <div class="form-line">
                    <input type="text"  id="ID_ContactPerson" formControlName="ContactPerson" [ngModel]="selectedItem.ContactPerson"
                      class="form-control" placeholder="Contact Person " [ngClass]="displayFieldCss('ContactPerson')">
                  </div>
                  <div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <label for="TaxRegistrationNumber1">Tax Registration Number 1</label>
                <div class="form-group" [ngClass]="displayFieldCss('TaxRegistrationNumber1')">
                  <div class="form-line">
                    <input type="text"  id="ID_TaxRegistrationNumber1" formControlName="TaxRegistrationNumber1" [ngModel]="selectedItem.TaxRegistrationNumber1"
                      class="form-control" placeholder="Tax Registration Number1" [ngClass]="displayFieldCss('TaxRegistrationNumber1')">
                  </div>
                  <div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <label for="TaxRegistrationNumber2">Tax Registration Number 2 </label>
                <div class="form-group" [ngClass]="displayFieldCss('TaxRegistrationNumber2')">
                  <div class="form-line">
                    <input type="text"  id="ID_TaxRegistrationNumber2" formControlName="TaxRegistrationNumber2" [ngModel]="selectedItem.TaxRegistrationNumber2"
                      class="form-control" placeholder="Tax Registration Number 2" [ngClass]="displayFieldCss('TaxRegistrationNumber2')">
                  </div>
                  <div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <label for="StartOfFiscalYear">StartOfFiscalYear </label>
                <div class="form-group" [ngClass]="displayFieldCss('StartOfFiscalYear')">
                  <div class="form-line">
                    <input type="text"  id="ID_StartOfFiscalYear" formControlName="StartOfFiscalYear" [ngModel]="selectedItem.StartOfFiscalYear"
                      class="form-control datetime" placeholder="StartOfFiscalYear " [ngClass]="displayFieldCss('StartOfFiscalYear')">
                  </div>
                  <div>
                  </div>
                </div>
              </div>


            </div>
            <!-- End of Row -->

            <button [disabled]="!myform.valid" class="btn btn-primary" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageSave"
            [confirmText]="confirmText" [cancelText]="cancelText" [placement]="bottom" (confirm)="SaveConfirm()" (cancel)="SaveCancel()"
            confirmButtonType="info" cancelButtonType="default" (click)="onSubmit(myform,$event,'Insert')" [appendToBody]="true">
            Insert {{ placement }}
          </button>
          <button [disabled]="!myform.valid" class="btn btn-primary" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageUpdate"
            [confirmText]="confirmText" [cancelText]="cancelText" [placement]="bottom" (confirm)="UpdateConfirm()" (cancel)="UpdateCancel()"
            confirmButtonType="warning" cancelButtonType="default" (click)="onSubmit(myform,$event,'Update')" [appendToBody]="true">
            Update {{ placement }}
          </button>

          </form>
          <!-- End of Form -->
        </div>
      </div>

      <div class="row clearfix">
        <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

          </div> -->


        <!-- #END# Task Info -->
        <!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <div class="card">
            <div class="body">
              <form id="form_advanced_validation" [formGroup]="myform" (onSubmit)="onSubmit(myform,$event,'Insert')">
                <input type="text" formControlName="Id" [ngModel]="selectedItem.Id" style="display:none">

            


             


             


                <label for="CostingMethod">CostingMethod (????? ?????? ??)</label>
                <div class="form-group" [ngClass]="displayFieldCss('CostingMethod')">
                  <div class="form-line">
                    <input type="text" required id="ID_CostingMethod" formControlName="CostingMethod" [ngModel]="selectedItem.CostingMethod"
                      class="form-control" placeholder="CostingMethod (????? ?????? ??)" [ngClass]="displayFieldCss('CostingMethod')">
                  </div>
                  <div>
                    <app-field-error-display [displayError]="isFieldValid('CostingMethod')" errorMsg="CostingMethod (????? ?????? ??) required!">
                    </app-field-error-display>
                  </div>
                </div>


                <label for="IsVat">IsVat (????? ?????? ??)</label>
                <div class="form-group" [ngClass]="displayFieldCss('IsVat')">
                  <div class="form-line">
                    <input type="text" required id="ID_IsVat" formControlName="IsVat" [ngModel]="selectedItem.IsVat" class="form-control" placeholder="IsVat (????? ?????? ??)"
                      [ngClass]="displayFieldCss('IsVat')">
                  </div>
                  <div>
                    <app-field-error-display [displayError]="isFieldValid('IsVat')" errorMsg="IsVat (????? ?????? ??) required!">
                    </app-field-error-display>
                  </div>
                </div>


                <label for="IsDelete">IsDelete (????? ?????? ??)</label>
                <div class="form-group" [ngClass]="displayFieldCss('IsDelete')">
                  <div class="form-line">
                    <input type="text" required id="ID_IsDelete" formControlName="IsDelete" [ngModel]="selectedItem.IsDelete" class="form-control"
                      placeholder="IsDelete (????? ?????? ??)" [ngClass]="displayFieldCss('IsDelete')">
                  </div>
                  <div>
                    <app-field-error-display [displayError]="isFieldValid('IsDelete')" errorMsg="IsDelete (????? ?????? ??) required!">
                    </app-field-error-display>
                  </div>
                </div>





              </form>
            </div>
          </div>
        </div> -->

      </div>


    </div>
  </div>
  <!-- #END# Browser Usage -->
</div>