<div class="row clearfix">
  <div class="card">

    <div class="header bg-teal">
      <h2>Daily Credit Sale</h2>
      <ul class="header-dropdown m-r--5">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_vert</i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">Add Fuel Type</a>
            </li>
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">Delete Slected</a>
            </li>
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">View Full Details</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="body">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row clearfix">
            <!-- <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
              <div class="form-group form-float">
                <p>
                  <b>Document Number</b>
                </p>
                <div class="form-line">

                  <input [(ngModel)] = "DocNo" name = "DocNo" type="text" class="form-control">
                  <label  class="form-label">Document No</label>
                </div>
              </div>
            </div> -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <p>
                    <b>Nozzel</b>
                </p>
                <select #t (change)="OnChangeNozzel($event)" [(ngModel)] = "salex.NozzelId" *ngIf="NozzelFinalObj"  class="form-control show-tick">
                    <option>---Nozzel---</option>
                    <option  [attr.data-index]="i" *ngFor="let item of NozzelFinalObj" [value]="item.Id">{{item.NozzelName}}</option>
                </select>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <p>
                    <b>Pumper</b>
                </p>
                <select #t  (change)="OnChangePumper($event)"   [(ngModel)] = "salex.EmployeeId"    *ngIf="EmployeeObj"  class="form-control show-tick">
                    <option>---Fuel---</option>
                    <option [attr.data-index]="i" *ngFor="let item of EmployeeObj" [value]="item.Id">{{item.EmployeeName}}</option>
                </select>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <p>
                    <b>Customer</b>
                </p>
                <select #t  (change)="OnChangeCustomer($event)" [(ngModel)] = "salex.CustomerID" *ngIf="CustomerFinalObj"  class="form-control show-tick">
                    <option>---Customer---</option>
                    <option [attr.data-index]="i" *ngFor="let item of CustomerFinalObj" [value]="item.Id">{{item.CustomerName}}</option>
                </select>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <p>
                    <b>Vehicles</b>
                </p>
                <select #t  (change)="OnChangeVehicle($event)" [(ngModel)] = "salex.VehicleID" *ngIf="VehicleFinalObj"  class="form-control show-tick">
                    <option>---Nozzel---</option>
                    <option [attr.data-index]="i" *ngFor="let item of VehicleFinalObj" [value]="item.Id">{{item.VehicleName}}</option>
                </select>

            </div>





          </div>
        </div>
      </div>


      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <div class="form-group form-float">
                <!-- <div class="form-line">
                   
                        <b>Unit Price</b>
                   
                  <input readonly type="text" [(ngModel)]='FuelPrice' class="form-control">
                  
                </div> -->

                <div class="form-line focused success">
                    <input readonly [(ngModel)]='FuelPrice' type="text" class="form-control" name="success" value="0" required="">
                    <label class="form-label">Unit Price</label>
                </div>

              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <div class="form-group form-float">
                <div class="form-line">

                  <input [(ngModel)]='NoOfUnits'(keypress)="noofunitKeyPRess($event)" type="number" class="form-control">
                  <label class="form-label">No Of Units</label>
                </div>
              </div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <div class="form-group form-float">

                <div class="form-line focused success">
                    <input [(ngModel)]='Total' type="text" class="form-control" name="success" value="Success" required="">
                    <label class="form-label">Total</label>
                </div>


              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg3">

              <button class="btn btn-primary" (click)="AddItemToGrid(myform,$event,'Insert')">
                Insert {{ placement }}
              </button>
            </div>

          </div>
        </div>
      </div>
      <!-- End Of Sale Header -->

      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="body color-datagrid-back">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover dashboard-task-infos">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Customer</th>
                      <th>Vehicle</th>
                      <th>No Of Units</th>
                      <th>Unit Price</th>
                      <th>Total</th>
                      <th>Record Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="holdvar">
                    <tr *ngFor="let item of holdvar;  let i = index" (click)="setClickedRow(item,i)" [class.active]="i == selectedRow">
                      <td>{{item.Id}}</td>
                      <td>{{item.Customer}}</td>
                      <td>{{item.Vehicle}}</td>
                      <td>{{item.NoOfUnits}}</td>
                      <td>{{item.UnitPrice}}</td>
                      <td>{{item.Total}}</td>
                      <td>{{item.RecordDate |date: 'dd/MM/yyyy'}}</td>
                      <td>
                        <a class="btn  btn-xs btn-danger waves-effect" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageDelete"
                          [confirmText]="confirmText" [cancelText]="cancelText" [placement]="top" (confirm)="deleteConfirm(item)"
                          (cancel)="deleteCancel()" confirmButtonType="danger" cancelButtonType="default" [appendToBody]="true">
                          X </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Of table area -->

      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <button  class="btn btn-primary" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageSave"
            [confirmText]="confirmText" [cancelText]="cancelText" [placement]="bottom" (confirm)="SaveConfirm()" (cancel)="SaveCancel()"
            confirmButtonType="info" cancelButtonType="default" (click)="onSubmit(myform,$event,'Insert')" [appendToBody]="true">
            Insert {{ placement }}
          </button>

          <button class="btn btn-primary" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageUpdate"
            [confirmText]="confirmText" [cancelText]="cancelText" [placement]="bottom" (confirm)="PrintConfirm()" (cancel)="PrintCancel()"
            confirmButtonType="warning" cancelButtonType="default" (click)="onSubmit(myform,$event,'Print')" [appendToBody]="true">
            Print {{ placement }}
          </button>

        </div>
      </div>

    </div>

  </div>
  <!-- End Of Main Card -->
</div>
<!-- End Of Main Row ClearFix -->
