.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 0px;
 
}

select.form-control.show-tick {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 0;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
}