<div class="row clearfix">
  <div class="card">

    <div class="header bg-teal">
      <h2>Daily Credit Sale</h2>
      <ul class="header-dropdown m-r--5">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_vert</i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">Add Fuel Type</a>
            </li>
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">Delete Slected</a>
            </li>
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">View Full Details</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="body">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
              <div class="form-group form-float">
                <p>
                  <b>Document Number</b>
                </p>
                <div class="form-line">

                  <input type="text" class="form-control">
                  <label class="form-label">Document No</label>
                </div>
              </div>
            </div>
            

            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
              <p>
                <b>Nozzel</b>
              </p>
              <div class="btn-group bootstrap-select show-tick form-control">
                <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Nothing selected">
                  <span class="filter-option pull-left">Nothing selected</span>&nbsp;
                  <span class="bs-caret">
                    <span class="caret"></span>
                  </span>
                </button>
                <div class="dropdown-menu open">
                  <ul class="dropdown-menu inner" role="menu" *ngIf="NozzelFinalObj"  >
                    <li data-original-index="0" *ngFor="let item of NozzelFinalObj" >
                      <a tabindex="0" class="" style="" data-tokens="null">
                        <span class="text">{{item.NozzelName}}</span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <select class="form-control show-tick" multiple="" tabindex="-98" *ngIf="NozzelFinalObj" >
                  <option  *ngFor="let item of NozzelFinalObj">{{item.NozzelName}}</option>
                </select>
              </div>
            </div>



            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
              <p>
                <b>Pumper</b>
              </p>
              <div class="btn-group bootstrap-select show-tick form-control">
                <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Nothing selected">
                  <span class="filter-option pull-left">Nothing selected</span>&nbsp;
                  <span class="bs-caret">
                    <span class="caret"></span>
                  </span>
                </button>
                <div class="dropdown-menu open">
                  <ul class="dropdown-menu inner" role="menu">
                    <li data-original-index="0">
                      <a tabindex="0" class="" style="" data-tokens="null">
                        <span class="text">Mustard</span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                      </a>
                    </li>
                    <li data-original-index="1">
                      <a tabindex="0" class="" style="" data-tokens="null">
                        <span class="text">Ketchup</span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                      </a>
                    </li>
                    <li data-original-index="2">
                      <a tabindex="0" class="" style="" data-tokens="null">
                        <span class="text">Relish</span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <select class="form-control show-tick" multiple="" tabindex="-98">
                  <option>Mustard</option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                </select>
              </div>

            </div>

            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
              <p>
                <b>Customer</b>
              </p>
              <div class="btn-group bootstrap-select show-tick form-control">
                <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Nothing selected">
                  <span class="filter-option pull-left">Nothing selected</span>&nbsp;
                  <span class="bs-caret">
                    <span class="caret"></span>
                  </span>
                </button>
                <div class="dropdown-menu open">
                  <ul class="dropdown-menu inner" role="menu">
                    <li data-original-index="0">
                      <a tabindex="0" class="" style="" data-tokens="null">
                        <span class="text">Mustard</span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                      </a>
                    </li>
                    <li data-original-index="1">
                      <a tabindex="0" class="" style="" data-tokens="null">
                        <span class="text">Ketchup</span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                      </a>
                    </li>
                    <li data-original-index="2">
                      <a tabindex="0" class="" style="" data-tokens="null">
                        <span class="text">Relish</span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <select class="form-control show-tick" multiple="" tabindex="-98">
                  <option>Mustard</option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                </select>
              </div>

            </div>

            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
              <p>
                <b>Vehicle </b>
              </p>
              <div class="btn-group bootstrap-select show-tick form-control">
                <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Nothing selected">
                  <span class="filter-option pull-left">Nothing selected</span>&nbsp;
                  <span class="bs-caret">
                    <span class="caret"></span>
                  </span>
                </button>
                <div class="dropdown-menu open">
                  <ul class="dropdown-menu inner" role="menu">
                    <li data-original-index="0">
                      <a tabindex="0" class="" style="" data-tokens="null">
                        <span class="text">Mustard</span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                      </a>
                    </li>
                    <li data-original-index="1">
                      <a tabindex="0" class="" style="" data-tokens="null">
                        <span class="text">Ketchup</span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                      </a>
                    </li>
                    <li data-original-index="2">
                      <a tabindex="0" class="" style="" data-tokens="null">
                        <span class="text">Relish</span>
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <select class="form-control show-tick" multiple="" tabindex="-98">
                  <option>Mustard</option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                </select>
              </div>

            </div>


          </div>


        </div>
      </div>


      <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row clearfix">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                      <div class="form-group form-float">
                        <div class="form-line">
        
                          <input disabled=true type="text" class="form-control">
                          <label class="form-label">Unit Price</label>
                        </div>
                      </div>
                    </div>

                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group form-float">
                      <div class="form-line">
      
                        <input type="text" class="form-control">
                        <label class="form-label">No Of Units</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                      <div class="form-group form-float">
                        <div class="form-line">
        
                          <input disabled=true type="text" class="form-control">
                          <label class="form-label">Total</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg3">
          
                        <button  class="btn btn-primary" (click)="AddItemToGrid(myform,$event,'Insert')" >
                        Insert {{ placement }}
                      </button>
                    </div>

              </div>
          </div>
      </div>
      <!-- End Of Sale Header -->

      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="body color-datagrid-back">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover dashboard-task-infos">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Fuel Type</th>
                      <th>RF Card NO</th>
                      <th>No Of Units</th>
                      <th>Unit Price</th>
                      <th>Total</th>
                      <th>Record Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="holdvar">
                    <tr *ngFor="let item of holdvar;  let i = index" (click)="setClickedRow(item,i)" [class.active]="i == selectedRow">
                      <td>{{item.Id}}</td>
                      <td>{{item.Fueltype}}</td>
                      <td>{{item.RfIDCode}}</td>
                      <td>{{item.NoOfUnits}}</td>
                      <td>{{item.UnitPrice}}</td>
                      <td>{{item.Total}}</td>
                      <td>{{item.RecordDate |date: 'dd/MM/yyyy'}}</td>
                      <td>
                        <a class="btn  btn-xs btn-danger waves-effect" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageDelete"
                          [confirmText]="confirmText" [cancelText]="cancelText" [placement]="top" (confirm)="deleteConfirm(item)"
                          (cancel)="deleteCancel()" confirmButtonType="danger" cancelButtonType="default" [appendToBody]="true">
                          X </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Of table area -->

      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          
            <button [disabled]="!myform.valid" class="btn btn-primary" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageSave"
            [confirmText]="confirmText" [cancelText]="cancelText" [placement]="bottom" (confirm)="SaveConfirm()" (cancel)="SaveCancel()"
            confirmButtonType="info" cancelButtonType="default" (click)="onSubmit(myform,$event,'Insert')" [appendToBody]="true">
            Insert {{ placement }}
          </button>
          <button [disabled]="!myform.valid" class="btn btn-primary" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageUpdate"
            [confirmText]="confirmText" [cancelText]="cancelText" [placement]="bottom" (confirm)="UpdateConfirm()" (cancel)="UpdateCancel()"
            confirmButtonType="warning" cancelButtonType="default" (click)="onSubmit(myform,$event,'Update')" [appendToBody]="true">
            Update {{ placement }}
          </button>



          <button class="btn btn-primary" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageUpdate"
          [confirmText]="confirmText" [cancelText]="cancelText" [placement]="bottom" (confirm)="PrintConfirm()" (cancel)="PrintCancel()"
          confirmButtonType="warning" cancelButtonType="default" (click)="onSubmit(myform,$event,'Print')" [appendToBody]="true">
          Print {{ placement }}
        </button>

        </div>
      </div>

    </div>

  </div>
  <!-- End Of Main Card -->
</div>
<!-- End Of Main Row ClearFix -->
