<div class="row clearfix">

  <div class="card">

    <div class="header bg-teal">
      <h2>ALL FUEL TYPES</h2>
      <ul class="header-dropdown m-r--5">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_vert</i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">Add Fuel Type</a>
            </li>
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">Delete Slected</a>
            </li>
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">View Full Details</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="body">



      <div class="row clearfix">

        <!-- Task Info -->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="card">
            <div class="body">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover dashboard-task-infos">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Fuel Name</th>
                      <th>Fuel ShortName</th>
                      <th>Unit Price</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="holdvar">
                    <tr *ngFor="let item of holdvar;  let i = index" (click)="setClickedRow(item,i)" [class.active]="i == selectedRow">
                      <td>{{item.Id}}</td>
                      <td>{{item.FuelFullName}}</td>
                      <td>{{item.FuelShortName}}</td>
                      <td>
                        <span class="label bg-green">{{item.UnitPrice}}</span>
                      </td>
                      <td>
                        <button (click) = "delete(item)" type="button" class="btn  btn-xs btn-default waves-effect">
                          X
                          <!-- <i class="material-icons">content_cut</i> -->
                        </button>
                      </td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- #END# Task Info -->
        <!-- Browser Usage (ngSubmit)="onSubmit(content,myform,$event) -->

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card">
           
            <div class="body">



               


              <form id="form_advanced_validation" [formGroup]="myform">

                <input type="text" formControlName="Id"  [ngModel] = "selectedItem.Id" style="display:none">

                <!-- <div class="form-group form-float">
                  <div class="form-line">
                    <input type="text" class="form-control"  formControlName="FuelFullName"  [ngModel] = "selectedItem.FuelFullName"  required="" aria-required="true">
                    <label class="form-label">Fuel Name</label>
                  </div>
                  <label *ngIf="ifNameEmpty"  id="number-error" class="error" for="number">This field is required.</label>
                </div> -->


                <label for="email_address">Fuel Name</label>
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" id="email_address" formControlName="FuelFullName"  [ngModel] = "selectedItem.FuelFullName" class="form-control" placeholder="Enter your email address">
                    </div>
                </div>

                <label for="email_address">Fuel Short Name</label>
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" id="email_address" formControlName="FuelShortName"  [ngModel] = "selectedItem.FuelShortName" class="form-control" placeholder="Enter your email address">
                    </div>
                </div>

                <label for="email_address">Unit Price</label>
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" id="email_address" formControlName="UnitPrice"  [ngModel] = "selectedItem.UnitPrice" class="form-control" placeholder="Enter your email address">
                    </div>
                </div>

                <!-- <div class="form-group form-float">
                  <div class="form-line">
                    <input type="text" class="form-control" formControlName="FuelShortName"  [ngModel] = "selectedItem.FuelShortName" name="name" required="" aria-required="true">
                    <label class="form-label">Fuel Short Name</label>
                  </div>
                  <label *ngIf="ifShortNameEmpty" id="number-error" class="error" for="number">This field is required.</label>
                </div> -->

                <!-- <div class="form-group form-float">
                  <div class="form-line">
                    <input type="number" formControlName="UnitPrice"  [ngModel] = "selectedItem.UnitPrice" class="form-control" name="number" aria-required="true">
                    <label class="form-label">Unit Price</label>
                  </div>
                  <div class="help-info">Numbers only</div>
                  <label *ngIf="ifPriceEmpty" id="number-error" class="error" for="number">This field is required.</label>
                </div> -->

                <button class="btn btn-primary waves-effect" (click) = "onSubmit(content,myform,$event,'Insert')"  type="submit" >Insert </button>
                <button class="btn btn-primary waves-effect" (click) = "onSubmit(content,myform,$event,'Update')"  type="submit" >Update </button>
                
              </form>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- #END# Browser Usage -->
</div>


<div class="row">
  <div class="col-md-6">
    <div class="well well-lg">
      Selected Row :
      <strong>{{selectedRow}}</strong>
      <button (click)= "Filter()">Try Refresh</button>
    </div>

    <div class="well well-lg">
      Selected Row :
      <strong>{{selectedItem | json}}</strong>
    </div>
    
  </div>
</div>