<div class="row clearfix">

  <div class="card">

    <div class="header bg-teal">
      <h2>ALL FUEL TYPES(ඉන්ධන වර්ග )</h2>
      <ul class="header-dropdown m-r--5">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_vert</i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">Add Fuel Type</a>
            </li>
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">Delete Slected</a>
            </li>
            <li>
              <a href="javascript:void(0);" class=" waves-effect waves-block">View Full Details</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="body">


      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div *ngIf="issuccess" class="alert alert-success">
            <strong>Well done!</strong> {{successmsg}}
          </div>

          <div *ngIf="iserror" class="alert alert-danger">
            <strong>Ooops!</strong> {{errormsg}}
          </div>
        </div>
      </div>

      <div class="row clearfix">

        <!-- Task Info -->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="card">
            <div class="body">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover dashboard-task-infos">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Fuel Name</th>
                      <th>Fuel ShortName</th>
                      <th>Unit Price</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="holdvar">
                    <tr *ngFor="let item of holdvar;  let i = index" (click)="setClickedRow(item,i)" [class.active]="i == selectedRow">
                      <td>{{item.Id}}</td>
                      <td>{{item.FuelFullName}}</td>
                      <td>{{item.FuelShortName}}</td>
                      <td>
                        <!-- <span class="label bg-teal">{{item.UnitPrice}}</span> -->
                        {{item.UnitPrice}}
                      </td>
                      <td>
                        <!-- <button (click) = "delete(item)" type="button" class="btn  btn-xs btn-default waves-effect">
                          X
                        </button> -->
                        <a class="btn  btn-xs btn-danger waves-effect" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageDelete"
                          [confirmText]="confirmText" [cancelText]="cancelText" [placement]="top" (confirm)="deleteConfirm(item)"
                          (cancel)="deleteCancel()" confirmButtonType="danger" cancelButtonType="default" [appendToBody]="true">
                          X </a>
                      </td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- #END# Task Info -->
        <!-- Browser Usage (ngSubmit)="onSubmit(content,myform,$event) -->

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card">
            <div class="body">
              <form id="form_advanced_validation" [formGroup]="myform" (onSubmit)="onSubmit(myform,$event,'Insert')">

                <input type="text" formControlName="Id" [ngModel]="selectedItem.Id" style="display:none">


                <label for="email_address">Fuel Name (ඉන්ධන වර්ගයේ නම)</label>
                <div class="form-group" [ngClass]="displayFieldCss('FuelFullName')">
                  <div class="form-line">
                    <input type="text" required id="email_address" formControlName="FuelFullName" [ngModel]="selectedItem.FuelFullName" class="form-control"
                      placeholder="Fuel Name (ඉන්ධන වර්ගයේ නම)" [ngClass]="displayFieldCss('FuelFullName')">
                  </div>
                  <div>
                    <app-field-error-display [displayError]="isFieldValid('FuelFullName')" errorMsg="Fuel Name (ඉන්ධන වර්ගයේ නම) required!">
                    </app-field-error-display>
                  </div>
                </div>

                <label for="email_address">Fuel Short Name (කෙටි නම )</label>
                <div class="form-group" [ngClass]="displayFieldCss('FuelShortName')">
                  <div class="form-line">
                    <input type="text" id="email_address" formControlName="FuelShortName" [ngModel]="selectedItem.FuelShortName" class="form-control"
                      placeholder="Fuel Short Name (කෙටි නම )">
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('FuelShortName')" errorMsg="This Field Is reqired! 10 Charactors Maximum">
                  </app-field-error-display>
                </div>

                <label for="email_address">Unit Price (ඒකකයක මිල)</label>
                <div class="form-group">
                  <div class="form-line">
                    <input type="number" id="email_address" formControlName="UnitPrice" [ngModel]="selectedItem.UnitPrice" class="form-control"
                      placeholder="Unit Price (ඒකකයක මිල)">
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('UnitPrice')" errorMsg="This Field Is reqired! Numbers Only!">
                  </app-field-error-display>
                </div>

                <button class="btn btn-primary" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageSave"
                  [confirmText]="confirmText" [cancelText]="cancelText" [placement]="bottom" (confirm)="SaveConfirm()" (cancel)="SaveCancel()"
                  confirmButtonType="info" cancelButtonType="default" (click)="onSubmit(myform,$event,'Insert')" [appendToBody]="true">
                  Insert {{ placement }}
                </button>
                <button class="btn btn-primary" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageUpdate"
                  [confirmText]="confirmText" [cancelText]="cancelText" [placement]="bottom" (confirm)="UpdateConfirm()" (cancel)="UpdateCancel()"
                  confirmButtonType="warning" cancelButtonType="default" (click)="onSubmit(myform,$event,'Update')" [appendToBody]="true">
                  Update {{ placement }}
                </button>

              </form>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- #END# Browser Usage -->
</div>


<!-- <div class="row">
  <div class="col-md-6">
    <div class="well well-lg">
      Selected Row :
      <strong>{{selectedRow}}</strong>
      <button (click)= "Filter()">Try Refresh</button>
    </div>

    <div class="well well-lg">
      Selected Row :
      <strong>{{selectedItem | json}}</strong>
    </div>
    
  </div>
</div> -->
